.button {
    background: rgb(3, 3, 138);
    color: #fff;
    border: none;
    padding: 16px;
    border-radius: 3px;
}

.modal {
    border: 1px solid #ddd;
    max-width: 600px;
    margin: auto;
    padding: 16px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 3px;
    opacity: 0;
    transition: 0.3s;
    transform: translateY(-10vh);
}

.modal-visible {
    opacity: 1;
    transform: translateY(10vh);
}